{% extends 'base.html' %}
{% block title %} {{ post['title'] }} {% endblock %}
{%block content%}
<div class="blog-post w-100 article-title-wrapper">
    <div class="wrapper">
        <img class="first-image" src="/static/articleimg/{{ post['image']  }}" alt=" ">
        <div class="article-title w-100 text-center">
            <h3 class="blog-post-title">{{ post['title'] }}</h3>
            <p class="blog-post-meta">{{ post.pub_date.strftime('%Y-%m-%d') }} by 
                <a href="{{url_for('views.author', id = Author['id'] )}}" class="text-danger">
                    {{Author.first_name}} {{Author.last_name }}</a></p>
        </div>
    </div>
</div>




<div class="container-fluid">

        <div class="container"  >
            <div class="w-100 border-bottom border-secondary pb-5 p-lg-5 article-wrapper" >
                <span class="text-justify">{{ post['content'] | safe }}</span>
            </div>

            <div class="container text-center justify-content-center border-bottom border-secondary pb-5" >
                <h4 class="mt-4 text-secondary"> How do you rate this article?</h4>
                <div class="container">
                <form method="post" >
                    <div class="starrating risingstar d-flex justify-content-center flex-row-reverse"> 
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                    </div>
                    <button class="btn-danger" type="submit" > Submit</button>
                </form>
              </div>	
            </div>
            <!-- TODO: comments sectionm -->
            <!-- <div class="container sign-up">
                {% for message in get_flashed_messages() %}
                <div class="container text-danger">{{ message }}</div>
                {% endfor %}   
                
                <form class="w-100 mt-5" method="POST" enctype="multipart/form-data">
                    <h4 class="mb-2 w-100 text-center">Add comment</h4> 
                    <div class="form-outline mb-4">
                        <label class="form-label" for="comment">*Comment</label>
                        <textarea name="comment"
                        placeholder="Write your comment here...."
                        rows="5"
                        class="form-control text-white bg-dark rounded-0"
                        id="comment"
                        onclick="display_rest()"
                        ></textarea>
                    </div>

                <div id="restcomment" style="display: none;">
                    <div class="form-outline mb-4">
                    <label class="form-label" for="Name">Name</label>
                    <input type="text" name="Name"
                           placeholder="Post title"
                           class="form-control text-white bg-dark rounded-0"
                           id="Name"></input>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="preview">E-mail</label>
                        <input type="text" name="preview"
                               placeholder="Post title"
                               class="form-control text-white bg-dark rounded-0"
                               id="preview"></input>
                        </div>
                </div>
                    <button type="submit" class="btn btn-outline-danger rounded-0 btn-block mb-4">Submit</button>
                </form>
            </div>
        </div> -->

</div>

</div>

<script>
function display_rest() {
  var x = document.getElementById("restcomment");
  if (x.style.display === "none") {
    x.style.display = "block";
  }
   else {
    x.style.display = "none";
  }
}
</script>



{% endblock %}